{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container1 container1-pokemon" id="home">
        <div>
            {% if message %}
                    <p class="error">{{message}}</p>
            {% endif %}
        </div>
        <div class="container2 container2-pokemon">
        <div class="pokemon">
            <p class="title_battle">Trainer</p>
            <p class="subtitle_battle">Choose your pokemons!</p>
            <form method="POST" class="battle-form battle-form-pokemon">{% csrf_token %}
                {{ form.non_field_errors }}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="form_pokemon_position">
                    <p>
                        {{ form.errors.pokemon_1 }}
                        <label for="id_pokemon_1">Pokemon 1:</label>
                        {% if pokemon_1 %}
                            <input id="pokemon_1" name="pokemon_1" type="text" list="pokemons" value={{pokemon_1}}>
                            <datalist id="pokemons" name="pokemon_1">
                                {% for results in pokemons %}
                                    <option value="{{results.name}}">
                                {% endfor %}
                            </datalist>
                        {% else %}
                            <input id="pokemon_1" name="pokemon_1" type="text" list="pokemons">
                            <datalist id="pokemons" name="pokemon_1">
                                {% for results in pokemons %}
                                    <option value="{{results.name}}">
                                {% endfor %}
                            </datalist>
                        {% endif %}
                    </p>
                    {{ form.errors.position_pkn_1 }}
                    <label class="position_label">Position:</label>
                    <select class="position_element" id="position_pkn_1" name="position_pkn_1">
                        <option selected="selected" value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form_pokemon_position">
                    <p>
                        {{ form.errors.pokemon_2 }}
                        <label for="id_pokemon_2">Pokemon 2:</label>
                        {% if pokemon_2 %}
                            <input id="pokemon_2" name="pokemon_2" type="text" list="pokemons" value={{pokemon_2}}>
                            <datalist id="pokemons" name="pokemon_2">
                                {% for results in pokemons %}
                                    <option value="{{results.name}}">
                                {% endfor %}
                            </datalist>
                        {% else %}
                            <input id="pokemon_2" name="pokemon_2" type="text" list="pokemons">
                            <datalist id="pokemons" name="pokemon_2">
                                {% for results in pokemons %}
                                    <option value="{{results.name}}">
                                {% endfor %}
                            </datalist>
                        {% endif %}
                    </p>
                    {{ form.errors.position_pkn_2 }}
                    <label class="position_label">Position:</label>
                    <select class="position_element" id="position_pkn_2" name="position_pkn_2">
                        <option value="1">1</option>
                        <option selected="selected" value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form_pokemon_position">
                    <p>
                        {{ form.errors.pokemon_3 }}
                        <label for="id_pokemon_3">Pokemon 3:</label>
                        {% if pokemon_3 %}
                            <input id="pokemon_3" name="pokemon_3" type="text" list="pokemons" value={{pokemon_3}}>
                            <datalist id="pokemons" name="pokemon_3">
                                {% for results in pokemons %}
                                    <option value="{{results.name}}">
                                {% endfor %}
                            </datalist>
                        {% else %}
                            <input id="pokemon_3" name="pokemon_3" type="text" list="pokemons">
                            <datalist id="pokemons" name="pokemon_3">
                                {% for results in pokemons %}
                                    <option value="{{results.name}}">
                                {% endfor %}
                            </datalist>
                        {% endif %}
                    </p>
                    {{ form.errors.position_pkn_3 }}
                    <label class="position_label">Position:</label>
                    <select class="position_element" id="position_pkn_3" name="position_pkn_3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option selected="selected" value="3">3</option>
                    </select>
                </div>
                <button type="submit" class="button_next">Next</button>
            </form>     
        </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
<!-- JQuery -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}
