{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke Battle</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    
</head>
<body>
    {% if user.is_authenticated %}
    <div class="user">
        <a class ="anchor_user" href="{% url 'battle_list' %}">
            <img class="img_user" src="https://s2.coinmarketcap.com/static/img/coins/200x200/8303.png">
            <p class="p_user">{{user}}</p>
        </a>
        <a class="logout" href="{% url 'logout' %}">
            <img src="https://image.flaticon.com/icons/png/128/1053/1053210.png" width=40 height=40 alt="">
        </a>
    </div>
    {% else %}
    <div class="user">
        <a class ="anchor_user" href="{% url 'signup' %}">
            <img class="img_user" width=50 height=50 src="https://www.greatmining.com/images/signup.png">
            <p class="p_user">SIGN UP</p>
        </a>
        <a href="{% url 'login' %}" class="login">
            <img class="img_login" src="https://thumbs.dreamstime.com/b/login-icon-authorize-log-sign-open-account-symbol-register-new-user-vector-152189820.jpg" width=40 height=40 alt="">
            LOGIN
        </a>
    </div>
    {% endif %}
    <div class="container1" id="home">
    
            {% block content %}
            {% endblock %}
    </div>
    
</body>
</html>