{% extends "battle/base.html" %}

{% block content %}
<div class="container1" id="home">
    <div>
        {% if message %}
                <p class="error">{{message}}</p>
        {% endif %}
    </div>

    <div class="container2 container2_signup">
    <div class="div_trainer">
        <p class="title_battle">SignUp Now!</p>
        <form method="POST" class="battle_form battle_form_signup">{% csrf_token %}
            {{ form.as_p }}
                        
            <button type="submit" class="button_next button_next_signup">Next</button>
        </form>     
    </div>
    </div>

</div>
{% endblock %}
