{% extends "base.html" %}

{% block content %}
<div class="container2 container_login">
    <h2 class="login_title">Log In</h2>
    <form method="post" class="form_login">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="login_button">Log In</button>
    </form>
    <div class="login_google">
        <a class="a-signup" href="{% url 'social:begin' 'google-oauth2' %}">
            <div class="google-btn">
                <p class="signup_p">Signin with Google</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
