{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hey! You were invited to a pokebattle!{% endblocktranslate %}

{% translate "Please go to the following page and choose a password to login and play:" %}
{% block reset_link %}
{{ protocol }}://pokebattlefirstproject.herokuapp.com{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}Pokebattle Application: https://pokebattlefirstproject.herokuapp.com/{% endblocktranslate %}

{% endautoescape %}}